-- MySQL dump 10.13  Distrib 8.0.30, for Win64 (x86_64)
--
-- Host: localhost    Database: lab_inventory_db
-- ------------------------------------------------------
-- Server version	8.0.30

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `asset_condition_logs`
--

DROP TABLE IF EXISTS `asset_condition_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_condition_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `inventory_asset_id` int NOT NULL,
  `updated_by` int NOT NULL,
  `old_condition` enum('baik','rusak_ringan','rusak_berat','maintenance','dihapus','diganti') DEFAULT NULL,
  `new_condition` enum('baik','rusak_ringan','rusak_berat','maintenance','dihapus','diganti') NOT NULL,
  `note` text,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_asset_condition_logs_asset` (`inventory_asset_id`),
  KEY `fk_asset_condition_logs_updated_by` (`updated_by`),
  CONSTRAINT `fk_asset_condition_logs_asset` FOREIGN KEY (`inventory_asset_id`) REFERENCES `inventory_assets` (`id`),
  CONSTRAINT `fk_asset_condition_logs_updated_by` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_condition_logs`
--

LOCK TABLES `asset_condition_logs` WRITE;
/*!40000 ALTER TABLE `asset_condition_logs` DISABLE KEYS */;
INSERT INTO `asset_condition_logs` VALUES (1,2,5,'maintenance','baik','Kondisi membaik setelah maintenance','2026-05-31 04:58:29'),(2,5,7,'rusak_ringan','baik','Port switch sudah dicek','2026-05-31 04:58:29'),(3,1,5,'baik','rusak_berat','PC ketumpahan air minum mahasiswa','2026-06-01 13:01:54'),(4,14,4,'baik','baik','Label assigned','2026-06-01 20:40:50'),(5,14,4,'baik','baik','Label assigned','2026-06-01 21:10:19'),(6,19,5,'baik','rusak_ringan','Update dari maintenance #3','2026-06-02 08:55:24'),(7,20,5,'baik','rusak_ringan','Update dari maintenance #4','2026-06-02 09:07:15');
/*!40000 ALTER TABLE `asset_condition_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `asset_disposals`
--

DROP TABLE IF EXISTS `asset_disposals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `asset_disposals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `inventory_asset_id` int NOT NULL,
  `disposed_by` int NOT NULL,
  `disposal_date` date NOT NULL,
  `reason` text NOT NULL,
  `disposal_note` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_asset_disposals_asset` (`inventory_asset_id`),
  KEY `fk_asset_disposals_disposed_by` (`disposed_by`),
  CONSTRAINT `fk_asset_disposals_asset` FOREIGN KEY (`inventory_asset_id`) REFERENCES `inventory_assets` (`id`),
  CONSTRAINT `fk_asset_disposals_disposed_by` FOREIGN KEY (`disposed_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `asset_disposals`
--

LOCK TABLES `asset_disposals` WRITE;
/*!40000 ALTER TABLE `asset_disposals` DISABLE KEYS */;
/*!40000 ALTER TABLE `asset_disposals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bhp_stock_movements`
--

DROP TABLE IF EXISTS `bhp_stock_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bhp_stock_movements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `stock_id` int NOT NULL,
  `procurement_item_id` int DEFAULT NULL,
  `receipt_id` int DEFAULT NULL,
  `maintenance_id` int DEFAULT NULL,
  `performed_by` int NOT NULL,
  `movement_type` enum('in','out','adjustment','maintenance_usage') NOT NULL,
  `quantity` int NOT NULL,
  `movement_date` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `note` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_bhp_stock_movements_stock` (`stock_id`),
  KEY `fk_bhp_stock_movements_procurement_item` (`procurement_item_id`),
  KEY `fk_bhp_stock_movements_receipt` (`receipt_id`),
  KEY `fk_bhp_stock_movements_maintenance` (`maintenance_id`),
  KEY `fk_bhp_stock_movements_performed_by` (`performed_by`),
  CONSTRAINT `fk_bhp_stock_movements_maintenance` FOREIGN KEY (`maintenance_id`) REFERENCES `maintenance_logs` (`id`),
  CONSTRAINT `fk_bhp_stock_movements_performed_by` FOREIGN KEY (`performed_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_bhp_stock_movements_procurement_item` FOREIGN KEY (`procurement_item_id`) REFERENCES `procurement_items` (`id`),
  CONSTRAINT `fk_bhp_stock_movements_receipt` FOREIGN KEY (`receipt_id`) REFERENCES `goods_receipts` (`id`),
  CONSTRAINT `fk_bhp_stock_movements_stock` FOREIGN KEY (`stock_id`) REFERENCES `bhp_stocks` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bhp_stock_movements`
--

LOCK TABLES `bhp_stock_movements` WRITE;
/*!40000 ALTER TABLE `bhp_stock_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `bhp_stock_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bhp_stocks`
--

DROP TABLE IF EXISTS `bhp_stocks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bhp_stocks` (
  `id` int NOT NULL AUTO_INCREMENT,
  `lab_id` int NOT NULL,
  `item_catalog_id` int NOT NULL,
  `current_stock` int NOT NULL DEFAULT '0',
  `minimum_stock` int NOT NULL DEFAULT '0',
  `unit` varchar(50) NOT NULL,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_bhp_stock_per_lab_item` (`lab_id`,`item_catalog_id`),
  KEY `fk_bhp_stocks_catalog` (`item_catalog_id`),
  CONSTRAINT `fk_bhp_stocks_catalog` FOREIGN KEY (`item_catalog_id`) REFERENCES `item_catalogs` (`id`),
  CONSTRAINT `fk_bhp_stocks_lab` FOREIGN KEY (`lab_id`) REFERENCES `laboratories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bhp_stocks`
--

LOCK TABLES `bhp_stocks` WRITE;
/*!40000 ALTER TABLE `bhp_stocks` DISABLE KEYS */;
/*!40000 ALTER TABLE `bhp_stocks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `buildings`
--

DROP TABLE IF EXISTS `buildings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `buildings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `code` varchar(50) NOT NULL,
  `address` varchar(255) DEFAULT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `buildings`
--

LOCK TABLES `buildings` WRITE;
/*!40000 ALTER TABLE `buildings` DISABLE KEYS */;
INSERT INTO `buildings` VALUES (1,'Gedung GWM','GWM','Jl. Surya Sumantri No. 65, Bandung','Gedung utama untuk ruang administrasi dan laboratorium','2026-05-31 04:58:29','2026-05-31 04:58:29'),(2,'Gedung FTI','FTI','Jl. Surya Sumantri No. 65, Bandung','Gedung fakultas untuk kebutuhan akademik dan praktikum','2026-05-31 04:58:29','2026-05-31 04:58:29');
/*!40000 ALTER TABLE `buildings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `idx_cache_expiration` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int NOT NULL,
  PRIMARY KEY (`key`),
  KEY `idx_cache_locks_expiration` (`expiration`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `floors`
--

DROP TABLE IF EXISTS `floors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `floors` (
  `id` int NOT NULL AUTO_INCREMENT,
  `building_id` int NOT NULL,
  `floor_number` int NOT NULL,
  `name` varchar(150) NOT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_floor_per_building` (`building_id`,`floor_number`),
  CONSTRAINT `fk_floors_building` FOREIGN KEY (`building_id`) REFERENCES `buildings` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `floors`
--

LOCK TABLES `floors` WRITE;
/*!40000 ALTER TABLE `floors` DISABLE KEYS */;
INSERT INTO `floors` VALUES (1,1,7,'Lantai 7','Area ruang kelas dan kantor','2026-05-31 04:58:29','2026-05-31 04:58:29'),(2,1,8,'Lantai 8','Area laboratorium komputer dan ruang pendukung','2026-05-31 04:58:29','2026-05-31 04:58:29'),(3,2,2,'Lantai 2','Area laboratorium tambahan dan ruang penyimpanan','2026-05-31 04:58:29','2026-05-31 04:58:29'),(4,2,3,'Lantai 3','Area laboratorium lanjutan','2026-05-31 05:00:42','2026-05-31 05:00:42'),(5,2,4,'Lantai 4','Area laboratorium khusus','2026-05-31 05:00:42','2026-05-31 05:00:42');
/*!40000 ALTER TABLE `floors` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goods_receipts`
--

DROP TABLE IF EXISTS `goods_receipts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goods_receipts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `procurement_item_id` int NOT NULL,
  `received_by` int NOT NULL,
  `received_date` date NOT NULL,
  `quantity_received` int NOT NULL,
  `note` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_goods_receipts_procurement_item` (`procurement_item_id`),
  KEY `fk_goods_receipts_received_by` (`received_by`),
  CONSTRAINT `fk_goods_receipts_procurement_item` FOREIGN KEY (`procurement_item_id`) REFERENCES `procurement_items` (`id`),
  CONSTRAINT `fk_goods_receipts_received_by` FOREIGN KEY (`received_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goods_receipts`
--

LOCK TABLES `goods_receipts` WRITE;
/*!40000 ALTER TABLE `goods_receipts` DISABLE KEYS */;
INSERT INTO `goods_receipts` VALUES (6,13,4,'2026-06-01',5,NULL,'2026-06-01 19:33:06','2026-06-01 19:33:06'),(7,14,4,'2026-06-01',5,'No. Surat: ABCD12345\nBarang dalam kondisi baik, semua fungsi server berjalan oke.','2026-06-01 19:35:15','2026-06-01 19:35:15');
/*!40000 ALTER TABLE `goods_receipts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_assets`
--

DROP TABLE IF EXISTS `inventory_assets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_assets` (
  `id` int NOT NULL AUTO_INCREMENT,
  `item_catalog_id` int NOT NULL,
  `procurement_item_id` int DEFAULT NULL,
  `receipt_id` int DEFAULT NULL,
  `room_id` int DEFAULT NULL,
  `replaced_by_asset_id` int DEFAULT NULL,
  `asset_code` varchar(100) NOT NULL,
  `label_number` varchar(100) DEFAULT NULL,
  `qr_code` varchar(255) DEFAULT NULL,
  `barcode` varchar(255) DEFAULT NULL,
  `serial_number` varchar(100) DEFAULT NULL,
  `purchase_price` decimal(12,2) DEFAULT NULL,
  `purchase_date` date DEFAULT NULL,
  `received_date` date DEFAULT NULL,
  `asset_condition` enum('baik','rusak_ringan','rusak_berat','maintenance','dihapus','diganti') NOT NULL DEFAULT 'baik',
  `status` enum('received','labeled','available','in_use','maintenance','disposed','replaced') NOT NULL DEFAULT 'received',
  `photo_url` varchar(255) DEFAULT NULL,
  `notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `asset_code` (`asset_code`),
  KEY `fk_inventory_assets_catalog` (`item_catalog_id`),
  KEY `fk_inventory_assets_procurement_item` (`procurement_item_id`),
  KEY `fk_inventory_assets_receipt` (`receipt_id`),
  KEY `fk_inventory_assets_room` (`room_id`),
  KEY `fk_inventory_assets_replaced_by` (`replaced_by_asset_id`),
  CONSTRAINT `fk_inventory_assets_catalog` FOREIGN KEY (`item_catalog_id`) REFERENCES `item_catalogs` (`id`),
  CONSTRAINT `fk_inventory_assets_procurement_item` FOREIGN KEY (`procurement_item_id`) REFERENCES `procurement_items` (`id`),
  CONSTRAINT `fk_inventory_assets_receipt` FOREIGN KEY (`receipt_id`) REFERENCES `goods_receipts` (`id`),
  CONSTRAINT `fk_inventory_assets_replaced_by` FOREIGN KEY (`replaced_by_asset_id`) REFERENCES `inventory_assets` (`id`),
  CONSTRAINT `fk_inventory_assets_room` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_assets`
--

LOCK TABLES `inventory_assets` WRITE;
/*!40000 ALTER TABLE `inventory_assets` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_assets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_catalogs`
--

DROP TABLE IF EXISTS `item_catalogs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_catalogs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `category_id` int DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `type` enum('inventory','bhp') NOT NULL,
  `unit` varchar(50) NOT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_item_catalogs_category` (`category_id`),
  CONSTRAINT `fk_item_catalogs_category` FOREIGN KEY (`category_id`) REFERENCES `item_categories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_catalogs`
--

LOCK TABLES `item_catalogs` WRITE;
/*!40000 ALTER TABLE `item_catalogs` DISABLE KEYS */;
/*!40000 ALTER TABLE `item_catalogs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `item_categories`
--

DROP TABLE IF EXISTS `item_categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `item_categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(150) NOT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `item_categories`
--

LOCK TABLES `item_categories` WRITE;
/*!40000 ALTER TABLE `item_categories` DISABLE KEYS */;
INSERT INTO `item_categories` VALUES (1,'Komputer dan Perangkat','Barang inventaris seperti PC, monitor, keyboard, dan mouse','2026-05-31 04:58:29','2026-05-31 04:58:29'),(2,'Jaringan','Perangkat jaringan seperti router, switch, access point, dan kabel LAN','2026-05-31 04:58:29','2026-05-31 04:58:29'),(3,'Bahan Habis Pakai','Barang habis pakai untuk kebutuhan laboratorium','2026-05-31 04:58:29','2026-05-31 04:58:29'),(4,'Furniture','Meja, kursi, lemari, dan perlengkapan ruangan','2026-05-31 04:58:29','2026-05-31 04:58:29');
/*!40000 ALTER TABLE `item_categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lab_group_rooms`
--

DROP TABLE IF EXISTS `lab_group_rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lab_group_rooms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `room_id` int NOT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_lab_group_room` (`group_id`,`room_id`),
  KEY `fk_lab_group_rooms_room` (`room_id`),
  CONSTRAINT `fk_lab_group_rooms_group` FOREIGN KEY (`group_id`) REFERENCES `lab_groups` (`id`),
  CONSTRAINT `fk_lab_group_rooms_room` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lab_group_rooms`
--

LOCK TABLES `lab_group_rooms` WRITE;
/*!40000 ALTER TABLE `lab_group_rooms` DISABLE KEYS */;
INSERT INTO `lab_group_rooms` VALUES (1,1,3,'2026-05-31 04:58:29'),(2,1,4,'2026-05-31 04:58:29'),(3,1,19,'2026-05-31 04:58:29'),(4,2,2,'2026-05-31 04:58:29'),(5,2,18,'2026-05-31 04:58:29'),(6,3,26,'2026-05-31 04:58:29'),(9,5,27,'2026-05-31 19:03:26');
/*!40000 ALTER TABLE `lab_group_rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lab_group_users`
--

DROP TABLE IF EXISTS `lab_group_users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lab_group_users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `group_id` int NOT NULL,
  `user_id` int NOT NULL,
  `role_in_group` enum('kepala_lab','staf_lab') NOT NULL DEFAULT 'staf_lab',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_lab_group_user` (`group_id`,`user_id`),
  KEY `fk_lab_group_users_user` (`user_id`),
  CONSTRAINT `fk_lab_group_users_group` FOREIGN KEY (`group_id`) REFERENCES `lab_groups` (`id`),
  CONSTRAINT `fk_lab_group_users_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lab_group_users`
--

LOCK TABLES `lab_group_users` WRITE;
/*!40000 ALTER TABLE `lab_group_users` DISABLE KEYS */;
INSERT INTO `lab_group_users` VALUES (1,1,5,'staf_lab','2026-05-31 04:58:29'),(2,1,6,'staf_lab','2026-05-31 04:58:29'),(3,2,7,'staf_lab','2026-05-31 04:58:29'),(4,2,6,'staf_lab','2026-05-31 04:58:29'),(5,3,6,'staf_lab','2026-05-31 04:58:29');
/*!40000 ALTER TABLE `lab_group_users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lab_groups`
--

DROP TABLE IF EXISTS `lab_groups`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `lab_groups` (
  `id` int NOT NULL AUTO_INCREMENT,
  `laboratory_id` int NOT NULL,
  `name` varchar(150) NOT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_lab_group_name_per_lab` (`laboratory_id`,`name`),
  CONSTRAINT `fk_lab_groups_laboratory` FOREIGN KEY (`laboratory_id`) REFERENCES `laboratories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lab_groups`
--

LOCK TABLES `lab_groups` WRITE;
/*!40000 ALTER TABLE `lab_groups` DISABLE KEYS */;
INSERT INTO `lab_groups` VALUES (1,2,'Grup Staff Programming','Grup staf lab untuk Programming Lab 1 dan Programming Lab 2','2026-05-31 04:58:29','2026-05-31 04:58:29'),(2,1,'Grup Staff Jaringan','Grup staf lab untuk Computer Network Lab','2026-05-31 04:58:29','2026-05-31 16:30:45'),(3,12,'Grup Staff Database','Grup staf lab untuk Database Lab','2026-05-31 04:58:29','2026-05-31 04:58:29'),(5,13,'Grup Staff Multimedia',NULL,'2026-05-31 19:03:12','2026-05-31 19:03:12');
/*!40000 ALTER TABLE `lab_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `laboratories`
--

DROP TABLE IF EXISTS `laboratories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `laboratories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `room_id` int NOT NULL,
  `head_user_id` int DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `code` varchar(50) NOT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `room_id` (`room_id`),
  UNIQUE KEY `code` (`code`),
  KEY `fk_laboratories_head_user` (`head_user_id`),
  CONSTRAINT `fk_laboratories_head_user` FOREIGN KEY (`head_user_id`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_laboratories_room` FOREIGN KEY (`room_id`) REFERENCES `rooms` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `laboratories`
--

LOCK TABLES `laboratories` WRITE;
/*!40000 ALTER TABLE `laboratories` DISABLE KEYS */;
/*!40000 ALTER TABLE `laboratories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_logs`
--

DROP TABLE IF EXISTS `maintenance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `inventory_asset_id` int NOT NULL,
  `performed_by` int NOT NULL,
  `maintenance_date` date NOT NULL,
  `issue_description` text,
  `action_taken` text,
  `condition_before` enum('baik','rusak_ringan','rusak_berat','maintenance','dihapus','diganti') DEFAULT NULL,
  `condition_after` enum('baik','rusak_ringan','rusak_berat','maintenance','dihapus','diganti') DEFAULT NULL,
  `status` enum('planned','in_progress','done','cancelled') NOT NULL DEFAULT 'planned',
  `cost` decimal(12,2) DEFAULT NULL,
  `notes` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_maintenance_logs_asset` (`inventory_asset_id`),
  KEY `fk_maintenance_logs_performed_by` (`performed_by`),
  CONSTRAINT `fk_maintenance_logs_asset` FOREIGN KEY (`inventory_asset_id`) REFERENCES `inventory_assets` (`id`),
  CONSTRAINT `fk_maintenance_logs_performed_by` FOREIGN KEY (`performed_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_logs`
--

LOCK TABLES `maintenance_logs` WRITE;
/*!40000 ALTER TABLE `maintenance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `procurement_drafts`
--

DROP TABLE IF EXISTS `procurement_drafts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `procurement_drafts` (
  `id` int NOT NULL AUTO_INCREMENT,
  `lab_id` int NOT NULL,
  `created_by` int NOT NULL,
  `finalized_by` int DEFAULT NULL,
  `title` varchar(200) NOT NULL,
  `budget_year` year NOT NULL,
  `status` enum('draft','submitted','finalized','rejected') NOT NULL DEFAULT 'draft',
  `is_locked` tinyint(1) NOT NULL DEFAULT '0',
  `notes` text,
  `submitted_at` datetime DEFAULT NULL,
  `finalized_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_procurement_drafts_lab` (`lab_id`),
  KEY `fk_procurement_drafts_created_by` (`created_by`),
  KEY `fk_procurement_drafts_finalized_by` (`finalized_by`),
  CONSTRAINT `fk_procurement_drafts_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_procurement_drafts_finalized_by` FOREIGN KEY (`finalized_by`) REFERENCES `users` (`id`),
  CONSTRAINT `fk_procurement_drafts_lab` FOREIGN KEY (`lab_id`) REFERENCES `laboratories` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `procurement_drafts`
--

LOCK TABLES `procurement_drafts` WRITE;
/*!40000 ALTER TABLE `procurement_drafts` DISABLE KEYS */;
/*!40000 ALTER TABLE `procurement_drafts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `procurement_items`
--

DROP TABLE IF EXISTS `procurement_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `procurement_items` (
  `id` int NOT NULL AUTO_INCREMENT,
  `draft_id` int NOT NULL,
  `item_catalog_id` int DEFAULT NULL,
  `replacement_asset_id` int DEFAULT NULL,
  `reviewed_by` int DEFAULT NULL,
  `item_name` varchar(150) NOT NULL,
  `item_description` text,
  `item_type` enum('inventory','bhp') NOT NULL,
  `quantity` int NOT NULL,
  `estimated_price` decimal(12,2) NOT NULL,
  `purchase_link` varchar(255) DEFAULT NULL,
  `review_status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `review_note` text,
  `reviewed_at` datetime DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `fk_procurement_items_draft` (`draft_id`),
  KEY `fk_procurement_items_catalog` (`item_catalog_id`),
  KEY `fk_procurement_items_reviewed_by` (`reviewed_by`),
  KEY `fk_procurement_items_replacement_asset` (`replacement_asset_id`),
  CONSTRAINT `fk_procurement_items_catalog` FOREIGN KEY (`item_catalog_id`) REFERENCES `item_catalogs` (`id`),
  CONSTRAINT `fk_procurement_items_draft` FOREIGN KEY (`draft_id`) REFERENCES `procurement_drafts` (`id`),
  CONSTRAINT `fk_procurement_items_replacement_asset` FOREIGN KEY (`replacement_asset_id`) REFERENCES `inventory_assets` (`id`),
  CONSTRAINT `fk_procurement_items_reviewed_by` FOREIGN KEY (`reviewed_by`) REFERENCES `users` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `procurement_items`
--

LOCK TABLES `procurement_items` WRITE;
/*!40000 ALTER TABLE `procurement_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `procurement_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'administrator'),(2,'kepala_laboratorium'),(3,'ketua_program_studi'),(4,'staf_administrasi'),(5,'staf_laboratorium');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `room_types`
--

DROP TABLE IF EXISTS `room_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `room_types` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `description` text,
  PRIMARY KEY (`id`),
  UNIQUE KEY `name` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `room_types`
--

LOCK TABLES `room_types` WRITE;
/*!40000 ALTER TABLE `room_types` DISABLE KEYS */;
INSERT INTO `room_types` VALUES (1,'laboratory','Ruangan laboratorium'),(2,'office','Ruangan kantor atau administrasi'),(3,'storage','Ruangan penyimpanan'),(4,'meeting_room','Ruangan rapat'),(5,'study_room','Ruangan belajar'),(6,'server_room','Ruangan server'),(7,'toilet','Toilet'),(8,'utility','Ruangan utilitas seperti panel listrik atau janitor'),(9,'waiting_room','Ruang tunggu'),(10,'classroom','Ruang kelas biasa');
/*!40000 ALTER TABLE `room_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rooms`
--

DROP TABLE IF EXISTS `rooms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rooms` (
  `id` int NOT NULL AUTO_INCREMENT,
  `floor_id` int NOT NULL,
  `room_type_id` int NOT NULL,
  `code` varchar(50) NOT NULL,
  `name` varchar(150) NOT NULL,
  `capacity` int DEFAULT NULL,
  `description` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `code` (`code`),
  KEY `fk_rooms_floor` (`floor_id`),
  KEY `fk_rooms_room_type` (`room_type_id`),
  CONSTRAINT `fk_rooms_floor` FOREIGN KEY (`floor_id`) REFERENCES `floors` (`id`),
  CONSTRAINT `fk_rooms_room_type` FOREIGN KEY (`room_type_id`) REFERENCES `room_types` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=36 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rooms`
--

LOCK TABLES `rooms` WRITE;
/*!40000 ALTER TABLE `rooms` DISABLE KEYS */;
/*!40000 ALTER TABLE `rooms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text,
  `payload` longtext NOT NULL,
  `last_activity` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_sessions_user_id` (`user_id`),
  KEY `idx_sessions_last_activity` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` int NOT NULL AUTO_INCREMENT,
  `role_id` int NOT NULL,
  `lab_id` int DEFAULT NULL,
  `name` varchar(150) NOT NULL,
  `nrp_nip` varchar(50) DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `status` enum('active','inactive') NOT NULL DEFAULT 'active',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `fk_users_role` (`role_id`),
  KEY `fk_users_lab` (`lab_id`),
  CONSTRAINT `fk_users_lab` FOREIGN KEY (`lab_id`) REFERENCES `laboratories` (`id`),
  CONSTRAINT `fk_users_role` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-02 10:03:38
